<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <servlet>
        <servlet-name>TCSTrafficServlet</servlet-name>
        <servlet-class>tcspackage.TCSTrafficServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ISTrafficServlet</servlet-name>
        <servlet-class>ispackage.ISTrafficServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CISTrafficServlet</servlet-name>
        <servlet-class>cispackage.CISTrafficServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryA</servlet-name>
        <servlet-class>tcspackage.CategoryA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryB</servlet-name>
        <servlet-class>tcspackage.CategoryB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryC</servlet-name>
        <servlet-class>tcspackage.CategoryC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CISTrafficImageServlet</servlet-name>
        <servlet-class>cispackage.CISTrafficImageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KPETPEECPCC</servlet-name>
        <servlet-class>cispackage.KPETPEECPCC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KPEECPPIETC</servlet-name>
        <servlet-class>cispackage.KPEECPPIETC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PIECKPETPEECP</servlet-name>
        <servlet-class>cispackage.PIECKPETPEECP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PIETKPEECP</servlet-name>
        <servlet-class>cispackage.PIETKPEECP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KPEECPTPE</servlet-name>
        <servlet-class>cispackage.KPEECPTPE</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KPEECPTPE2</servlet-name>
        <servlet-class>cispackage.KPEECPTPE2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AYESLE</servlet-name>
        <servlet-class>cispackage.AYESLE</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SLECITY</servlet-name>
        <servlet-class>cispackage.SLECITY</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SLEAYE</servlet-name>
        <servlet-class>cispackage.SLEAYE</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CITYSLE</servlet-name>
        <servlet-class>cispackage.CITYSLE</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JOHORWOODLANDS</servlet-name>
        <servlet-class>cispackage.JOHORWOODLANDS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BKECAUSEWAY</servlet-name>
        <servlet-class>cispackage.BKECAUSEWAY</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JURONGCHANGI</servlet-name>
        <servlet-class>cispackage.JURONGCHANGI</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WOODLANDS</servlet-name>
        <servlet-class>cispackage.WOODLANDS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PIEWOODLANDS</servlet-name>
        <servlet-class>cispackage.PIEWOODLANDS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CHANGI</servlet-name>
        <servlet-class>cispackage.CHANGI</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AYE_CITY</servlet-name>
        <servlet-class>cispackage.AYE_CITY</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CHANGI2</servlet-name>
        <servlet-class>cispackage.CHANGI2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CITYCHANGI</servlet-name>
        <servlet-class>cispackage.CITYCHANGI</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CHANGICITY</servlet-name>
        <servlet-class>cispackage.CHANGICITY</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AYE</servlet-name>
        <servlet-class>cispackage.AYE</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CITYJURONG</servlet-name>
        <servlet-class>cispackage.CITYJURONG</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JURONGCHANGI2</servlet-name>
        <servlet-class>cispackage.JURONGCHANGI2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JOHORTUAS</servlet-name>
        <servlet-class>cispackage.JOHORTUAS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ECPCTE</servlet-name>
        <servlet-class>cispackage.ECPCTE</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JURONG</servlet-name>
        <servlet-class>cispackage.JURONG</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CITY</servlet-name>
        <servlet-class>cispackage.CITY</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TUASCHANGI</servlet-name>
        <servlet-class>cispackage.TUASCHANGI</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JOHOR</servlet-name>
        <servlet-class>cispackage.JOHOR</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AYE2NDLINK</servlet-name>
        <servlet-class>cispackage.AYE2NDLINK</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JURONGCHANGI3</servlet-name>
        <servlet-class>cispackage.JURONGCHANGI3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CHANGIJURONG</servlet-name>
        <servlet-class>cispackage.CHANGIJURONG</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JURONGCHANGI4</servlet-name>
        <servlet-class>cispackage.JURONGCHANGI4</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KPEJURONGCHANGI</servlet-name>
        <servlet-class>cispackage.KPEJURONGCHANGI</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JURONGCHANGI5</servlet-name>
        <servlet-class>cispackage.JURONGCHANGI5</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CHANGIJURONG2</servlet-name>
        <servlet-class>cispackage.CHANGIJURONG2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JURONGCHANGI6</servlet-name>
        <servlet-class>cispackage.JURONGCHANGI6</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JURONGCHANGI7</servlet-name>
        <servlet-class>cispackage.JURONGCHANGI7</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JURONGCHANGI8</servlet-name>
        <servlet-class>cispackage.JURONGCHANGI8</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CHANGI3</servlet-name>
        <servlet-class>cispackage.CHANGI3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TUASCHANGI2</servlet-name>
        <servlet-class>cispackage.TUASCHANGI2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SLEPIECHANGIJURONG</servlet-name>
        <servlet-class>cispackage.SLEPIECHANGIJURONG</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SLEPIE</servlet-name>
        <servlet-class>cispackage.SLEPIE</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BKETPE</servlet-name>
        <servlet-class>cispackage.BKETPE</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PIEBKE</servlet-name>
        <servlet-class>cispackage.PIEBKE</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TPEBKE</servlet-name>
        <servlet-class>cispackage.TPEBKE</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WOODLANDSPIE</servlet-name>
        <servlet-class>cispackage.WOODLANDSPIE</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TCSTrafficServlet</servlet-name>
        <url-pattern>/TCSTrafficServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ISTrafficServlet</servlet-name>
        <url-pattern>/ISTrafficServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CISTrafficServlet</servlet-name>
        <url-pattern>/CISTrafficServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryA</servlet-name>
        <url-pattern>/CategoryA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryB</servlet-name>
        <url-pattern>/CategoryB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryC</servlet-name>
        <url-pattern>/CategoryC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CISTrafficImageServlet</servlet-name>
        <url-pattern>/CISTrafficImageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KPETPEECPCC</servlet-name>
        <url-pattern>/KPETPEECPCC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KPEECPPIETC</servlet-name>
        <url-pattern>/KPEECPPIETC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PIECKPETPEECP</servlet-name>
        <url-pattern>/PIECKPETPEECP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PIETKPEECP</servlet-name>
        <url-pattern>/PIETKPEECP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KPEECPTPE</servlet-name>
        <url-pattern>/KPEECPTPE</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KPEECPTPE2</servlet-name>
        <url-pattern>/KPEECPTPE2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AYESLE</servlet-name>
        <url-pattern>/AYESLE</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SLECITY</servlet-name>
        <url-pattern>/SLECITY</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SLEAYE</servlet-name>
        <url-pattern>/SLEAYE</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CITYSLE</servlet-name>
        <url-pattern>/CITYSLE</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JOHORWOODLANDS</servlet-name>
        <url-pattern>/JOHORWOODLANDS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BKECAUSEWAY</servlet-name>
        <url-pattern>/BKECAUSEWAY</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JURONGCHANGI</servlet-name>
        <url-pattern>/JURONGCHANGI</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WOODLANDS</servlet-name>
        <url-pattern>/WOODLANDS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PIEWOODLANDS</servlet-name>
        <url-pattern>/PIEWOODLANDS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CHANGI</servlet-name>
        <url-pattern>/CHANGI</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AYE_CITY</servlet-name>
        <url-pattern>/AYE_CITY</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CHANGI2</servlet-name>
        <url-pattern>/CHANGI2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CITYCHANGI</servlet-name>
        <url-pattern>/CITYCHANGI</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CHANGICITY</servlet-name>
        <url-pattern>/CHANGICITY</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AYE</servlet-name>
        <url-pattern>/AYE</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CITYJURONG</servlet-name>
        <url-pattern>/CITYJURONG</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JURONGCHANGI2</servlet-name>
        <url-pattern>/JURONGCHANGI2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JOHORTUAS</servlet-name>
        <url-pattern>/JOHORTUAS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ECPCTE</servlet-name>
        <url-pattern>/ECPCTE</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JURONG</servlet-name>
        <url-pattern>/JURONG</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CITY</servlet-name>
        <url-pattern>/CITY</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TUASCHANGI</servlet-name>
        <url-pattern>/TUASCHANGI</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JOHOR</servlet-name>
        <url-pattern>/JOHOR</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AYE2NDLINK</servlet-name>
        <url-pattern>/AYE2NDLINK</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JURONGCHANGI3</servlet-name>
        <url-pattern>/JURONGCHANGI3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CHANGIJURONG</servlet-name>
        <url-pattern>/CHANGIJURONG</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JURONGCHANGI4</servlet-name>
        <url-pattern>/JURONGCHANGI4</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KPEJURONGCHANGI</servlet-name>
        <url-pattern>/KPEJURONGCHANGI</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JURONGCHANGI5</servlet-name>
        <url-pattern>/JURONGCHANGI5</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CHANGIJURONG2</servlet-name>
        <url-pattern>/CHANGIJURONG2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JURONGCHANGI6</servlet-name>
        <url-pattern>/JURONGCHANGI6</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JURONGCHANGI7</servlet-name>
        <url-pattern>/JURONGCHANGI7</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JURONGCHANGI8</servlet-name>
        <url-pattern>/JURONGCHANGI8</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CHANGI3</servlet-name>
        <url-pattern>/CHANGI3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TUASCHANGI2</servlet-name>
        <url-pattern>/TUASCHANGI2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SLEPIECHANGIJURONG</servlet-name>
        <url-pattern>/SLEPIECHANGIJURONG</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SLEPIE</servlet-name>
        <url-pattern>/SLEPIE</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BKETPE</servlet-name>
        <url-pattern>/BKETPE</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PIEBKE</servlet-name>
        <url-pattern>/PIEBKE</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TPEBKE</servlet-name>
        <url-pattern>/TPEBKE</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WOODLANDSPIE</servlet-name>
        <url-pattern>/WOODLANDSPIE</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
